@font-face {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');*/
}

@font-face {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');*/
}

@font-face {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');*/
}

@font-face {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');*/
}
/*---------------実験-------------*/


@media screen and (max-width:748px) {
	/*　画面サイズが768px以下の場合、ここのスタイルを読み込む　*/
  .header-hero {
    /*background: #FFFFFF;*/
      background: #000000;
      padding: 0;
      margin: 54px 0;
  }
  .header-hero h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 3px;
    clear: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
  }
  .header-hero ul {
    display: flex;
    /*flex-flow: row;*/
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 30px 0px -10px;
    padding: 0px;
    list-style-type: none;

      /*margin: 33px 0 0;*/
      /*padding: 0;*/
      font-size: 18px;
      letter-spacing: 2px;
      font-family: 'Lato', sans-serif;
  }
  .header-hero ul li {
      float: left;
      margin-top: 8px;
      margin-right: 48px;
      line-height: 20px;
      /*color: #ffffff;*/
      color: #000;
  }


  .flexbox {
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .contactface{

    position: fixed;
    top: 50%;
    left:-105px;
    -webkit-transform: rotate(-90deg);
    z-index: 1000;

  }

  #topImage{
    width: 70%;
    height: 70%;
     display: block;
     margin: 10px auto;
  }

  body{
    font-family: 'Lato', sans-serif;
    /*color:#727272;*/
    color:#fff;


    font-weight:200;
  }
}





@media screen and (min-width:768px){
	/*　画面サイズが768px～1024pxの間は、ここのスタイルを読み込む　*/
  .header-hero {
    background: #FFFFFF;
      /*background: #000000;*/
      padding: 0;
      margin: 54px 0;
  }
  .header-hero h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 3px;
    clear: none;
    /*color: #ffffff;*/
    color: #000000;
    font-family: 'Lato', sans-serif;
  }
  .header-hero ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 30px 0px -10px;
    padding: 0px;
    list-style-type: none;

      /*margin: 33px 0 0;*/
      /*padding: 0;*/
      font-size: 12px;
      letter-spacing: 2px;
      font-family: 'Lato', sans-serif;
  }
  .header-hero ul li {
      float: left;
      margin-right: 88px;
      line-height: 8px;
      /*color: #ffffff;*/
      color: #000000;
  }
  .contactface{

    position: fixed;
    top: 50%;
    left:-90px;
    -webkit-transform: rotate(-90deg);
    z-index: 1000;

  }

  #topImage{
    width: 50%;
    height: 50%;
     display: block;
     margin: 200px auto;
  }

}
.header-hero ul li :hover{
/*background: #ffffff;
color: #000000;*/
background: #000;
color: #fff;
}
.header-hero ul li a{
  /*color: #ffffff;*/
  color: #000;

}
.header-hero ul li.last {
    float: right;
    margin-right: 0px;
    text-shadow: none;
}



/*----------------------------------------*/

/*.header-hero {
    background: #000000;
    padding: 0;
    margin: 54px 0;
}
.header-hero h1 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 3px;
  clear: none;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.header-hero ul {
    list-style-type: none;
    margin: 33px 0 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;

}
.header-hero ul li {
    float: left;
    margin-right: 88px;
    line-height: 8px;
    color: #ffffff;
}
.header-hero ul li :hover{
background: #ffffff;
color: #000000;
}
.header-hero ul li a{
  color: #ffffff;
}
.header-hero ul li.last {
    float: right;
    margin-right: 0px;
    text-shadow: none;
}*/

/*-------------上は試しにコメントアウト-------------*/

#border-top{
  background-color: #000000;
    height: 8px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20000;
}
#border-right{
  background-color: #000000;
height: 180%;
position: fixed;
right: 0;
top: 0;
width: 8px;
z-index: 20000;
}

#border-left{
  background-color: #000000;
    height: 180%;
    left: 0;
    position: fixed;
    top: 0;
    width: 8px;
    z-index: 20000;
}

#border-bottom{
  background-color: #000000;
    bottom: 0;
    height: 8px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 20000;
}




body {
  /*background-color: #fff;*/
background-color: #000;
  padding:50px;

  /*font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Lato', sans-serif;
  /*color:#727272;*/
  color:#fff;


  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.link{
  background: #000000;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Lato',sans-serif;
}
.link:hover{
  background: #000000;
  color: #ffffff;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  /*width:270px;*/
  /*float:left;*/
  /*position:fixed;*/
  -webkit-font-smoothing:subpixel-antialiased;
}
/*
header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}*/

/*header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}*/

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#e5e5e5;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}


section {
  /*width:500px;*/
  /*float:right;*/
  padding-bottom:50px;
}



.flexbox {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flexbox::after{
  content:"";
  display: block;
  width:30%;
}

.item {
  /*background: #edf;*/
  /*border: solid #000000;border-width: thin;*/
  padding: 15px;
  margin: 5px;
  text-align: center;
}

.item img {
  max-width: 100%;
  height: auto;
}
.item p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-style: thin;
  /*font-size: 15px;*/
  letter-spacing: 2px;
}
.item a {
  color: #fff;
}
.item:hover{
background: #fff;
color: #000;
/*border: solid #ffffff;border-width: thin;*/


}

.box1 {
  text-align: center;
  margin-bottom: 10px;
}
.box2 {
  text-align: center;
  margin-bottom: 50px;
}
.narabe {
  display: flex;
  flex-flow: row;

}
.narabe img {
  width: 25%;
  height: 25%;
  margin: 0 10px;
}



/*.contactface{

  position: fixed;
  top: 50%;
  left:-90px;
  -webkit-transform: rotate(-90deg);
  z-index: 1000;

}*/
.contactface a{
  margin: 0 2px;
  padding: 2px;
  font-family: 'Lato', sans-serif;
  /*font-style: thin;*/
  font-size: 13px;

  letter-spacing: 2px;
  /*color: #ffffff;
  background: #000000;*/
  color: #000;
  background: #fff;

}

/* Responsive */
@media ( min-width : 600px ){
    .flexbox {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    }
  .item {
    width: 25%;
  }
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  /*position:fixed;*/
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    /*margin:0;*/
  }

  /*header, section, footer {
    float:none;
    position:static;
    width:auto;
  }*/

  header {
    width: 770px;
    /*padding-right:320px;*/
  }

  section {
    border:0px solid #e5e5e5;
    border-width:0px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  section p{
    margin-bottom: 0;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #fff;
  }
/*
  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }*/
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
/*
  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
    color:#000;
  }*/

  pre, code {
    word-wrap:normal;
  }
}
/*
@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}*/

@media print {
  body {
    padding:0.4in;
    font-size:10pt;
    color:#444;
  }
}
